# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

**/*.md
**/LICENSE
.git
docs
.travis.yml
pkg/store/testout
build/_output
deployments
!vendor
