# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

cmd/onos-config/onos-config
cmd/southbound_main/southbound_main
pkg/store/testout
vendor
**/_output
*.DS_Store
coverage.txt
*.coverprofile
*.coverprofile.orig
.idea
.vscode
modelplugin/TestDevice-1.0.0/testdevice.so.1.0.0
modelplugin/TestDevice-2.0.0/testdevice.so.2.0.0
modelplugin/Devicesim-1.0.0/devicesim.so.1.0.0
**/test/data
onit
*report*.xml
*coverage*.xml
*-output.out
build/build-tools
*.log
*.tex
*.aux
*.dvi
*.out
spec/states
venv