# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Code scan workflow

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  version-check:
    uses: onosproject/.github/.github/workflows/version-check.yml@main

  lint:
    uses: onosproject/.github/.github/workflows/go-lint.yml@main

  license-check:
    uses: onosproject/.github/.github/workflows/license-check.yml@main

  fossa-check:
    uses: onosproject/.github/.github/workflows/fossa-scan.yml@main
