# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - master
    paths:
      - "VERSION"

permissions:
  contents: read

jobs:
  # Tag GitHub Release
  # The convention is to prefix the version with a 'v', e.g., v1.2.3
  tag-github:
    uses: onosproject/.github/.github/workflows/tag-github.yml@main
    with:
      add_v: true
    secrets: inherit

  # Build and Release Docker Image
  # The convention is to use the same tag for the Docker image as the GitHub Release
  release-image:
    needs: tag-github
    if: needs.tag-github.outputs.changed == 'true'
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: onosproject/.github/.github/workflows/release-image.yml@main
    with:
      docker_tag: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  # Bump Version
  update-version:
    needs: tag-github
    if: needs.tag-github.outputs.changed == 'true'
    uses: onosproject/.github/.github/workflows/bump-version.yml@main
    secrets: inherit
